<br>
<br>
<br>

<div class ="row">
  <div class ="col-sm-4 col-md-8 col-lg-12 text-center">
    <div class = "form w-450">
      <%= image_tag("question.jpg", :size => "200x200", :alt => "アイコン") %>
      <h3>まずは質問箱を5秒で作ってみましょう</h3>
      <%= link_to "作成", new_user_path, class:'btn btn-success mt-4' %>
      <br>
      <%= link_to " ログイン", login_path, class:'btn btn-success mt-4' %>
    </div>
<br>
<br>
<br>
  </div>
</div>