<br>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <% @posts.each do |p| %>
    <div class ="question mt-4">
    <%= p.content %>
    <%= link_to '削除',user_trush_path(p.id) , method: :delete, class:'btn btn-default'%>
    <br>
    <% end %>
  </div>
</div>