<div class="row">
  <div class="col-sm-4">
    <h2>ポストアクション</h2>
    <%= form_for(@post) do |f| %>
    <%= f.label :'説明' %>
    <%= f.text_area :content ,class:'form-control' %>
    <%= f.submit '作成', class: 'btn btn-success mt-4' %>
    <% end %>
  </div>
</div>