<br>
<br>
<br>
<br>
<div class="row">
  <div class = "col-sm-4 col-md-8 col-lg-12 text-center">
    <% @answers.each do |f| %> 
    <div class="answer mt-4">
    <%= f.content %>
    <br>
    <% end %>
  </div>
  </div>
</div>